
<%= render '/per_view_javascript' %>
<%= render '/per_view_stylesheet' %>

<%= render 'breadcrumb' %>

<!-- why a ul? -->
<ul class="list-group" style="padding-top: 10px">
    <!-- only show these if there are items with notes (endnotes/snippets), potentially refactor out each to theirs own -->
<!--
<h4>delicious notes from items</h4>
<hr>
-->
<%# debug @all_notes %>
    <%
        @all_notes.group(:item_id).each do |note|
            if note.item_id
                item = Item.find note.item_id
    %>
        <div class="well" style="margin-bottom: 0px"><%= link_to item.fa_seq, item_path(item.id, whence: params['whence']) %>
            <span class="label label-primary"><%= item.year %></span>
        </div>
        <div class="well">
        <li class="list-group-item">
            <ul class="list-group" style="padding-top: 10px">
                <%= render partial: item.notes.where(constraint), layout: "notes/note_group_layout" %>
            </ul>
        </li>
        </div>
    <%
            end 
        end
    %>
<!--
<h4>delicious notes from scans</h4>
<hr>
-->
    <% 
        @all_notes.group(:scan_id).each do |note|
            if note.scan_id
                scan = Scan.find note.scan_id
    %>
        <div class="well" style="margin-bottom: 0px">
            <%= render partial: scan, layout: "scans/note_layout" %>
            <span class="label label-primary"><%= Scan::STATE_STRING[scan.state] %></span>
        </div>
        <div class="well">
        <li class="list-group-item">
            <ul class="list-group" style="padding-top: 10px">
                <%= render partial: scan.notes.where(constraint), layout: "notes/note_group_layout" %>
            </ul>
        </li>
        </div>
    <%
            end
        end
    %>
<!-- won't anyone tell me why? -->
</ul>
