<!-- note (in document) sequence number -->
<%# debug params %>
<%
    if params[:id]
        # this is coming from snippet save, :id is actually :scan_id
        # raise "I was not expecting this at all, params[:id] is #{params[:id]} , Why?"
        save_id = params[:id]
        params.delete(:id)
        params.delete(:fh)
        params.delete(:fw)
        params.delete(:note_id)
        params.delete(:nh)
        params.delete(:nw)
        params.delete(:ratio)
        params.delete(:tih)
        params.delete(:tiw)
        params.delete(:til)
        params.delete(:tit)
        params.delete(:tpl)
        params.delete(:tpt)
        params[:scan_id] = save_id
    end
%>
<%
    if note.type == Note::TEXT
        unless note.bytes.nil?
            note.bytes.force_encoding("UTF-8")
        end
%>
<p>
    <strong>Title:</strong>
    <%= link_to (note.bytes.blank? ? '(empty)' : note.bytes), edit_note_path(note.id, params) %>
</p>
    <hr>
<div>
    <%= link_to ' delete? ', note_path(note.id, params), data: { confirm: 'are you sure?' }, :method => :delete %>

    <%# link_to " #{member.email} ", edit_member_registration_path(member) %>

    <%= render partial: "notes/member_edit", locals: {member: (Member.find note.member_id)} %>
</div>
<%
    else
%>
<div class="note-thumb">
    <%= link_to edit_note_path(note.id, params) do %>
        <% raw(note.img_tag) %>
    <% end %>
</div>
<hr>
<div>
    <%= link_to ' delete? ', note_path(note.id, params), data: { confirm: 'are you sure?' }, :method => :delete %>

    <%= render partial: "notes/member_edit", locals: {member: (Member.find note.member_id)} %>
</div>
<%
    end
%>
<%
    # params[:id] = save_id
%>
