<%# form_for :heading, url: the_index_headings_path do |f| %>
  <%# binding.pry %>
  <p>
    <% if heading.index_term.blank? %>
        <%= f.text_field :index_term %>
    <% else %>
        <% if heading.index_term == locator.content %>
            <%= f.label "Index term" %><br>
        <% else %>
            <%= f.label "Reference “#{locator.content}” for Index Term" %><br>
        <% end %>
        <%= f.text_field :index_term, { readonly: 'readonly'} %>
    <% end %>
  </p>
 
  <p>
    <%= f.hidden_field :type %>
    <%# f.label :type %><br>
    <%# f.text_field :type, :"data-dropdown" => "#heading-dropdown" %>
    <!-- select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) -->
    <%# f.select( :type, Heading::TYPES.collect {|t| t.capitalize}, { include_blank: true } ) %>
    <%# Heading::TYPES.each do |t| %>
        <%# f.radio_button :type, "foo" %>
    <%# end %>
  </p>
<%# end %>
