<%= render '/per_view_stylesheet' %>

<%= render 'breadcrumb' %>

<hr>
<h3>
    <i>In item description</i> <%= "#{pluralize(@items.length, 'match')}" %>
</h3>
<hr>
<ul>
<% @items.each do |item| %>
    <li>
          <div class="well" style="margin-bottom: 0px"><%= link_to item.fa_seq, item_path(item.id, q: params['q']) %></div>
          <div class="well">
              <%=raw item.description.gsub(Regexp.new(Regexp.escape(params['q']), "i")) {|match_q| "<span class='search'>#{match_q}</span>"} %>
              <span class="label label-primary"><%= item.year %></span>
          </div>
    </li>
<% end %>
</ul>
<hr>
<h3>
    <i>In scan transcription</i> <%= "#{pluralize(@scans.length, 'match')}" %>
</h3>
<hr>
<ul>
<% @scans.each do |scan| %>
    <li>
        <div class="well" style="margin-bottom: 0px"><%= render partial: scan, layout: "scans/scan_bxslider_layout" %></div>
        <div class="well">
            <%=raw scan.transcription.gsub(Regexp.new(Regexp.escape(params['q']), "i")) {|match_q| "<span class='search'>#{match_q}</span>"} %>
            <span class="label label-primary"><%= Scan::STATE_STRING[scan.state] %></span>
        </div>
    </li>
<% end %>
</ul>
