<%= render '/per_view_stylesheet' %>

<%= render 'breadcrumb' %>

<hr>
<h3>
    <%= "#{pluralize(@items.length, 'match')}" %> in <i>item</i> description
</h3>
<hr>
<%= render partial: "items/item_group", locals: {item_group: @items} %>
<hr>
<h3>
    <%= "#{pluralize(@scans.length, 'match')}" %> in <i>scan</i> description
</h3>
<hr>
<ul>
<% @scans.each do |scan| %>
    <li>
        <div class="well" style="margin-bottom: 0px"><%= render partial: scan, layout: "scans/scan_bxslider_layout" %></div>
        <div class="well">
            <%=raw scan.transcription.gsub(Regexp.new(Regexp.escape(params['q']), "i")) {|match_q| "<span class='search'>#{match_q}</span>"} %>
            <span class="label label-primary"><%= Scan::STATE_STRING[scan.state] %></span>
        </div>
    </li>
<% end %>
</ul>
