
<%- content_for(:head) do -%>
    <%= javascript_include_tag "jquery.bxslider", "data-turbolinks-track" => TURBO %>

    <%= stylesheet_link_tag "jquery.bxslider", media: "all", "data-turbolinks-track" => TURBO %>
<%- end -%>

<%= render '/per_view_javascript' %>

<%= render 'breadcrumb' %>

<div class="slide-wrapper">
    <%= render @scans %>
</div>

