
<%- content_for(:head) do -%>
    <%# javascript_include_tag "jquery.elevatezoom", "data-turbolinks-track" => TURBO %>
    <%= javascript_include_tag "jquery.fs.zoomer", "data-turbolinks-track" => TURBO %>
    <%= stylesheet_link_tag "jquery.fs.zoomer", media: "all", "data-turbolinks-track" => TURBO %>
    <%# javascript_include_tag "jquery.dropdown", "data-turbolinks-track" => TURBO %>
    <%# stylesheet_link_tag "jquery.dropdown", media: "all", "data-turbolinks-track" => TURBO %>
    <%= stylesheet_link_tag "notes", media: "all", "data-turbolinks-track" => TURBO %>
<%- end -%>

<script type="text/javascript">
    var original_transcription = '<%= j @scan.transcription %>'
</script>

<%= render '/per_view_javascript' %>
<%= render '/per_view_stylesheet' %>

<%= render 'breadcrumb' %>

<%# debug request.env %>
<%# html_escape @scan.pretty_inspect %>
<%# @scan.prefix.to_s+"/"+@scan.major_seq.to_s+"/"+@scan.seq.to_s+" scan #"+@scan.minor_seq.to_s %>

<%
    pint_size = image_path "pint-size/#{@scan.file_name}"
    large_size = serve_up_image_path @scan.id
%>
<script type="text/javascript">
	var markup_link = "<%= markup_path %>";
	var ref_link = "";
    var img_link = "<%= snap_path @scan.id %>";
    var aspect = "<%= params['aspect'] %>";
    var whence = "<%= params['whence'] %>";
</script>
<!-- <img id="zoom_it" src="<%= pint_size %>" data-zoom-image="<%= large_size %>" /> -->

<div id="content" class=".clearfix">

    <div class="row">
        <div class="col-md-4">
            <div class="viewer">
                <img src="<%= large_size %>" />
            </div>
        </div>

        <div class="col-md-8">
            <!-- see aspect? do this. -->
            <%= form_for @scan, url: {action: "update", aspect: params['aspect'], whence: params['whence'], q: params['q']} do |f| %>
                <!-- not this. -->
                <!--input type="hidden" id="aspect" name="aspect" value="<%= params['aspect'] %>" /-->
                <!--input type="hidden" id="whence" name="whence" value="<%= params['whence'] %>" /-->
                <!--input type="hidden" id="q" name="q" value="<%= params['q'] %>" /-->
                <!-- nor this. -->
                <%# f.hidden_field(:params, 'aspect') %>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li id="last-nav-tab" class="active">
                        <a href="#">Default&nbsp;&nbsp;<button type="button" class="close" data-dismiss="tab" aria-hidden="true">×</button></a>
                        </li>
                        <li><a href="#" onclick="add_tab()">+</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="last-content-tab" class="tab-pane active">
                            <div id="make-same">
                                <%= f.text_area :transcription, size: "80x25", :autofocus=>true %>
                                    <div id="scan_markup" style="display:none" />
                                <script>
                                    // fake table does not work?
                                    // https://stackoverflow.com/questions/2997767/how-do-i-keep-two-divs-that-are-side-by-side-the-same-height
                                    // neither does css trickery
                                    // http://www.ejeliot.com/blog/61
                                    // try this
                                    // https://stackoverflow.com/questions/3275850/set-a-div-height-equal-with-of-another-div
                                    // using this
                                    // http://api.jquery.com/ready/

                                    $(function() {
                                        // Handler for .ready() called. Off by 6? Why, oh why?
                                        $("#scan_markup").css({'height':((parseInt($("#scan_transcription").height())+6)+'px')});
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- disable buttons unless in the right state -->
                    <%
                        if @scan.state == Scan::VIRGIN or @scan.state == Scan::BEING_EDITED
                    %>
                            <%= f.submit "Update the transcription", :onclick => "need_to_confirm=false;" %>
                            <%# f.label "Process semantic annotation on update" %>
                            <%# f.check_box "annotate" %>
							<%= f.hidden_field "annotate" %>
                            <br/>
                            <%= f.submit "Submit for review", :name => "review_button" %>
                    <%
                        end
                    %>

                    <%
                        if member_signed_in?
                            if @scan.state == Scan::VIRGIN or @scan.state == Scan::BEING_EDITED
                    %>
                                <%= f.submit "Lock the transcription", :name => "lock_button" %>
                    <%
                            end
                            if current_member.matches_whodunnit? @scan or current_member.special?
                                if @scan.state == Scan::LOCKED
                    %>
                                    <%= f.submit "Update the transcription", :onclick => "need_to_confirm=false;" %>
                                    <%# f.label "Process semantic annotation on update" %>
                                    <%# f.check_box "annotate" %>
									<%= f.hidden_field "annotate" %>
                                    <br/>
                                    <%= f.submit "Submit for review", :name => "review_button" %>
                                    <%= f.submit "Unlock the transcription", :name => "unlock_button" %>
                    <%
                                end
                            end
                            if current_member.special? and @scan.state == Scan::IN_REVIEW
                    %>
                                <%= f.submit "Accept this transcription", :name => "accept_button" %>
                                <%= f.submit "Reject this transcription", :name => "reject_button" %>
                                <%= f.text_area "narrative" %>
                    <%

                            end
                        else # member is not signed in, what to show?
                        end
                    %>
                </div>
            <% end %>
        </div>
    </div>

    <!-- for my convenience
    1-------10--------20--------30--------40--------50--------60--------70--------80--------90-------100-------110-------120-------130-------140-------150-------160--------
    -->

    <hr> <!-- puffin stuff -->

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group" style="padding-top: 10px">
                <li id="insert_after_me" class="list-group-item">
                    Snippets go here
                </li>
                <%= render partial: @scan.notes.where('type = ?', Note::IMAGE), layout: "notes/note_group_layout" %>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group" style="padding-top: 10px">
                <li id="insert_after_me" class="list-group-item">
                Compose a new <%= link_to "note", new_note_path(scan_id: @scan.id, aspect: params['aspect'], q: params['q'], whence: params['whence']) %>
                </li>
                <%= render partial: @scan.notes.where('type = ?', Note::TEXT), layout: "notes/note_group_layout" %>
            </ul>
        </div>
    </div>

</div>

<% render partial: 'headings/type' %>
