
<h2>Outline of the <span class="hot-cinnamon">collection</span></h2>
<hr>
<p>Map or plan of the collection. Think of it like the anatomy of a book; <a class="external" href="https://en.wikipedia.org/wiki/Text_(literary_theory)">text</a> and <a class="external" href="https://en.wikipedia.org/wiki/Paratext">paratext</a>.</p>
<ol>
    <li>
    <%= link_to 'front cover', welcome_path(whence: 'plan') %>
    <li>
    <ol>
        <li>title</li>
        <!-- (agency/agent that brought the work (of art/lit/knowledge) into being) -->
        <li>author/editor/compiler/coder/builder</li> 
        <li>qr code (for website, eadid)</li>
    </ol>
    <li>front matter</li>
    <ol>
        <li>acknowledgements</li>
        <li>
            <%= link_to 'table of contents', slice_items_path(aspect: 'display_in_finding_aid_order', whence: 'plan') %>
            <p>This is the <a class="external" href="https://en.wikipedia.org/wiki/Finding_aid">finding aid</a> order. It is a complete ordering of the collection, which is to say that every item is itemized.<p>
        </li>
        <li>introduction</li>
    </ol>
    <li>contents</li>
    <ol>
        <li>groups of items (super-group)</li>
        <li>items</li>
        <li>pieces of items (sub-items)</li>
        <li>digital surrogates (scans) with attendant transcriptions</li>
    </ol>
    <li>back matter</li>
    <ol>
        <li>bibliography/ref matter (collated from refs throughout)</li>
        <li>
        <%= link_to 'endnotes', scribbled_notes_path(whence: 'plan') %>
            <p>Collated from <a class="external" href="https://en.wikipedia.org/wiki/Note_(typography)">notes</a> throughout the collection.</p>
        </li>
        <li>
        <%= link_to 'snippets', snapped_notes_path(whence: 'plan') %>
            <p>Collated from <a class="external" href="https://en.wikipedia.org/wiki/Highlighter">highlighted</a> snippets throughout.</p>
        </li>
        <li>
        <%= link_to 'index', headings_path(whence: 'plan') %>
            <p>Unassigned headings and <a class="external" href="https://en.wikipedia.org/wiki/Index_(publishing)">index</a> terms brought together from transcription.</p>
        </li>
    </ol>
</ol>
