<% scans = item.scan %>
<% if scans.first.nil? %>
    <!-- we have an item but no scan: BP/1/368 (3.V), BP/1/311 (1.E.II), BP/1/312 (1.E.III), BP/1/236 (1.A.IV.ii) -->
    <!-- Verify with Special Collections -->

    <!-- CONSTs for height, width, and margin, where? -->
    <span style="height: 100px; width 133px">No scans for: <%= item.fa_seq %></span>
<% else %>
    <% count = item.scan.length %>
    <a href="<%= item_scans_path(item.id, aspect: params['aspect']) %>" data-counter="<%= (defined? item_counter) ? item_counter : ''%>" title="<%= item.fa_seq %>" style="display: inline"><%= render :partial => item.scan.first, :locals => {:item => item} %></a>
<% end %>

        <!-- top right bottom left -->
        <!-- span style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; background-color: #000; color: #FFF"><%= " > #{pluralize(count, 'scan')}" %></span -->
