<figure class="embed hide-smooth dark">
<%
    item = thumbnail
    scans = item.scans.order(:minor_seq)
	path = item_path(item.id, aspect: params['aspect'], q: params['q'], whence: params['whence'])
	counter = (defined? item_counter) ? item_counter : ''
%>
<% if scans.first.nil? %>
    <!-- we have an item but no scan: BP/1/368 (3.V), BP/1/311 (1.E.II), BP/1/312 (1.E.III), BP/1/236 (1.A.IV.ii) -->
    <!-- Verify with Special Collections -->

    <!-- CONSTs for height, width, and margin, where? -->
    <a href="<%= path %>" data-counter="<%= counter %>" title="<%= item.fa_seq %>" style="display: inline">
		<img src="<%= image_path 'no-image.jpeg' %>" alt="No scans for <%= item.fa_seq %>" title="<%= item.fa_seq %>">
	</a>
    <figcaption>0 scans</figcaption>
<% else %>
    <% count = scans.length %>
    <a href="<%= path %>" data-counter="<%= counter %>" title="<%= item.fa_seq %>" style="display: inline">
		<%= render :partial => scans.first, locals: local_assigns %>
	</a>
    <figcaption><%= "#{item.fa_seq} - #{pluralize(count, 'scan')}" %></figcaption>
<% end %>
</figure>
