<h1>These are the different windows onto the items.</h1>

<ul>
    <li> <%= link_to 'Display in Finding Aid Order (work in progress…)', slice_items_path(aspect: "display_in_finding_aid_order") %> </li>
    <li> <%= link_to 'Display Chronologically (work in progress…)', slice_items_path(aspect: "group_chronologically") %> </li>
    <li> <%= link_to 'Show Thematically (to be done)', slice_items_path(aspect: "group_by_theme") %> </li>
    <li> <%= link_to 'Show in Order of Difficulty (to be done)', slice_items_path(aspect: "group_by_difficulty") %> </li>
    <li> <%= link_to '!! Developer Option (unvarnished database order)', slice_items_path %> </li>
</ul>

