<!--
  display items grouped by date

  each item needs an extra field for the year i think

  if you are using group by you need some aggregate function 
  (like sum, or count)
-->

<%- content_for(:head) do -%>
    <%# javascript_include_tag "lazyload.min", "data-turbolinks-track" => false # doesn't load all images in a long scrollable div %>
    <%= javascript_include_tag "jquery.lazyload", "data-turbolinks-track" => TURBO %>
<%- end -%>

<%= render '/per_view_javascript' %>

<%= render 'breadcrumb' %>

<fieldset>
    <legend>
        <!-- translate these -->
        # of scans per state by completion
    </legend>
    <ol class="list-group">
    <%
        @all_scans.group(:state).count.each do |state, count|
        state_label = state ? Scan::STATE_STRING[state] : "unknown state"
        id = state_label
        fill_id = "fill-#{id}"
        link_name = "#{state_label} ……… #{pluralize(count, 'item')}"
        @scans = @all_scans.where("state #{(state ? '=' : 'is')} ?", state)
    %>
        <li class="list-group-item"><span class="badge"><%= link_name %></span>
        <%= render "scans/scans_preview_container" %> 
        </li>
    <% end %>
    </ol>
</fieldset>
