
<div id="footer" class=".clearfix">
    <div class="row darken">
        <img style="float: right; margin-top: 20px; margin-right: 20px" src="/images/ucc-website-logo-transparent.gif">
    </div>
    <div class="row darken">
        <span>
            <%= link_to nil, 'legalese' %> |
            <%= link_to nil, 'inspiration' %> |
            <%= link_to nil, 'code' %> |
            <%= link_to nil, 'shout out' %> |
            <%= link_to nil, 'secretions of a digital organism' %>
        </span>
    </div>
    <div class="row darken">
        <div style="font-family: 'Cedarville Cursive', cursive; font-color: #081A31; float: right; opacity: 0.5;">
            Handcrafted with care and attention by <a href="http://leto.electropoiesis.org/propaganda/ecce-homo/">Anthony Durity</a>
        </div>
    </div>
</div>

