<%

    def switch_on toggle
        if params['controller'] == "collection_pages"
            if params['action'] == "welcome" and toggle == "brand"
                return "brand-active"
            end
            if params['action'] == toggle
                return "active"
            end
        end
        ""
    end

%>

<div id="header"> <!-- just for grouping, don't style -->
    <div class="row darken">
        <p/>
    </div>
    <div class="row darken">
        <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#desk-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="<%= switch_on "brand" %>">
                <a class="navbar-brand hot-cinnamon brand" href="<%= welcome_path %>" alt="Welcome">x²=x</a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="desk-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<%= switch_on "desk" %>"><a href="<%= desk_path %>" alt="The Desk">The Desk</a></li>
                <li class="<%= switch_on "faqs_n_guide" %>"><a href="<%= faqs_n_guide_path %>" alt="FAQs & Guide">FAQs &amp; Guide</a></li>
                <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" alt="Propaganda">Propaganda<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://leto.electropoiesis.org/propaganda/entering-the-digital-humanities/">The Blog</a></li>
                    <li><a href="javascript:void(0)">In The Press</a></li>
                    <li><a href="javascript:void(0)">Share This Site / Spread The Love</a></li>
                    <li><a href="javascript:void(0)">Advertising And Promotion</a></li>
                    <li><a href="javascript:void(0)">Merchandise</a></li>
                    <!-- <li><a href="http://uccshop.ie/leisurewear/t-shirts/ucc-boole-is-coole-t-shirt.html">UCC Boole is Coole T-Shirt</a></li> -->
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Obey</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">The Forum</a></li>
                </ul>
                </li>
            </ul>
            <form method="get" action="<%= search_path %>" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <% if params['q'] %>
                        <input name="q" type="text" class="form-control" value="<%= params['q'] %>" alt="Search">
                    <% else %>
                        <input name="q" type="text" class="form-control" placeholder="Search this site" alt="Search">
                    <% end %>
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" alt="Go do it…"></span> Go do it…</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" alt="About">About<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://www.ucc.ie">University College Cork (UCC)</a></li>
                    <li><a href="http://booleweb.ucc.ie">UCC Library</a></li>
                    <li><a href="http://booleweb.ucc.ie/index.php?pageID=38">UCC Library Special Collections</a></li>
                    <li><a href="http://www.apc.ucc.ie/en/dah">UCC Digital Arts &amp; Humanities</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">acquisition process <i>page</i></a></li>
                    <li><a href="javascript:void(0)">digitization process <i>page</i></a></li>
                    <li><a href="javascript:void(0)">desk-building process <i>page</i></a></li>
                    <li class="divider"></li>
                    <li><a href="http://booleweb.ucc.ie/index.php?pageID=264">Special Collections Boole Archive</a></li>
                    <li class="divider"></li>
                    <li><a href="http://plato.stanford.edu/entries/boole">George Boole, F.R.S.</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Ethel_Lilian_Voynich">Ethel Lilian Voynich</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Boolean_algebra">Boolean Algebra @ Wikipedia</a></li>
                    <li><a href="http://library.ucc.ie/search/X?SEARCH=boolean+algebra&SORT=D">… by keyword @ UCC Library</a></li>
                    <li><a href="http://books.google.ie/books?id=SWgLVT0otY8C">The Laws of Thought</a></li>
                </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="row darken">
        <%= render "layouts/breadcrumb" %>
        <h4 style="float: right; margin-right: 20px;">
            <% begin %>
                <% if member_signed_in? %>
                    Logged in as <strong><%= current_member.email %></strong>;
                    <%= link_to 'Edit profile', edit_member_registration_path %>,
                    <%= link_to "Sign out", destroy_member_session_path, method: :delete %> or
                    <%= link_to "Manage scans", members_locked_scans_path %>
                <% else %>
                    <%= link_to "Sign up", new_member_registration_path %> <small>(if you like)</small> or
                    <%= link_to "Sign in", new_member_session_path %> <small>(if you have signed up)</small>
                <% end %>
            <% rescue %>
                We are <strong>Anonymous</strong>
            <% end %>
        </h4>
    </div>
    <div class="row darken">
        <span class="btn-toolbar" role="toolbar">
            <span class="btn-group">
                <button type="button" class="btn btn-default btn-xs">
                    <span> descriptive list » </span>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-file"><a href="/archival_finding_aid?type=pdf">PDF</a></span>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-file"><a href="/archival_finding_aid?type=ead">EAD</a></span>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span> interoperate » </span>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-file"><a href="/archival_finding_aid?type=yaml">YAML</a></span>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-file"><a href="/archival_finding_aid?type=edm">EDM</a></span>
                </button>
            </span>
        </span>
    </div>
    <%# debug params %>
</div>

<script type="text/javascript">
	$('.dropdown-toggle').dropdown();
</script>
