<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Boole Papers <%= @attempt %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => TURBO %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => TURBO %>
        <%= csrf_meta_tags %>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>

        <%= yield(:head) -%> <!-- hurrah for sneakiness -->
    </head>
    <body>

        <div id="the-container" class="rounded container">
        <%= render "layouts/header" %>
        <% if flash %>
            <!-- shout out http://stackoverflow.com/questions/17931534/how-to-define-flash-notifications-with-twitter-bootstrap-rails-gem -->
            <% flash.each do |name, msg| -%>
                <% if msg.is_a?(String) %>
                    <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
                        <a class="close" data-dismiss="alert">&#215;</a>
                        <%= content_tag :p, msg, :id => "flash_#{name}" %>
                    </div>
                <% end %>
            <% end %>
        <% end -%>
        <%=yield %>
        <%= render "layouts/footer" %>
        </div>

    </body>
</html>

